.search {
    height: 100%;
    position: relative;
    .head {
        height: 91rpx;
        display: flex;
        padding: 0 32rpx;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        border-bottom: 1rpx solid rgba(0, 0, 0, 0.15);
        .iconsousuo{
            margin-left: 8rpx;
        }
        div:nth-child(1) {
            height: 59rpx;
            display: flex;
            align-items: center;
            background: #f4f4f4;
            img {
                display: inline-block;
                width: 31rpx;
                height: 31rpx;
                padding: 0 20rpx;
            }
            input {
                display: inline-block;
                width: 480rpx;
                height: 59rpx;
                margin-left: 10rpx;
            }
            .del {
                width: 53rpx;
                height: 53rpx;
                line-height: 53rpx;
                padding: 0;
            }
        }
        div:nth-child(2) {
            flex: 1;
            text-align: center;
        }
    }
    .searchtips {
        width: 100%;
        margin-top:4rpx;
        left: 0;
        margin-bottom: 10rpx;
        box-sizing: border-box;
        padding: 0 32rpx;
        z-index: 9;
        background: #fff;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        div {
            padding: 25rpx 0;
        }
        .nogoods {
            text-align: center;
            margin-top: 300rpx;
        }
    }
    .search-head{
        position: fixed;
        top: 0rpx;
        background: white;
        width: 100%;
        z-index: 999;
    }
    .sortnav {
        display: flex;
        width: 100%;
        height: 78rpx;
        line-height: 78rpx;
        background: #fff;
        border-bottom: 1rpx solid #d9d9d9;
        div {
            width: 250rpx;
            height: 100%;
            text-align: center;
        }
        .active {
            color: #FE0000;
        }
        .price {
            // background: url(//yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/no-3127092a69.png) 165rpx center no-repeat;
            // background-size: 15rpx 21rpx;
        }
        .active.desc {
            color: #FE0000;
        }
        .active.asc {
            color: #FE0000;
        }
    }
    .goodsList {
        top:160rpx;
        position:relative;
        background: #fff;
        box-sizing: border-box; // padding: 0 32rpx;
        z-index: 9;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        .sortlist {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .item {
                box-sizing: border-box;
                width: 50%;
                text-align: center;
                background: #fff;
                padding: 15rpx 0;
                border-bottom: 1rpx solid #d9d9d9;
                border-right: 1rpx solid #d9d9d9;
                .img-box{
                    position: relative;
                    text-align: center;
                    height: 302rpx;
                }
                img {
                    width: 100%;
                    height: 302rpx;
                }
                .name {
                    margin: 15rpx 0 22rpx 0;
                    text-align: center;
                    padding: 0 20rpx;
                    font-size: 24rpx;
                }
                .price-wrapper{
                    position: relative;
                    margin: 5rpx 15rpx;
                    text-align: left;
                    .span1{
                      color: #FE0000;
                      font-size: 24rpx;
                      margin-left: -6rpx;
                      display: inline-block;
                      margin-top: 5rpx;
                      font-family: PingFang-SC-Bold,Arial;
                      span{
                        font-size: 30rpx;
                      }
                    }
                    .price_yj {
                      font-size: 24rpx;
                      color: #888;
                      border-bottom: 1px solid #888;
                      height: 16rpx;
                      display: inline-block;
                      margin-left: 10rpx;
                    }
                    .price_right{
                      font-size: 24rpx;
                      float: right;
                      margin-right: 8rpx;
                      color: #888;
                      display: inline-block;
                    }
                  }
                  .coupon-wrapper{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 10;
                    font-size: 24rpx;
                    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#F2AE2E', endColorStr='#FE8102', gradientType='0');
                    background: -webkit-gradient(linear,0 0,100% 100%,from(rgb(240, 138, 70)),to(#FE0000));
                    height: 36rpx;
                    line-height: 36rpx;
                    color: #fff;
                    border-radius: 5rpx;
                    min-width: 120rxp;
                    text-align: center;
                    float: right;
                    display: block;
                    padding: 3rpx 8rpx;
                    i{
                      font-style: normal;
                      display: inline;
                      color: #fff;
                      font-size: 22rpx;
                    }
                    b{
                      display: inline;
                      color: #fff;
                      font-size: 22rpx;
                    }
                  }
                .price {
                    text-align: center;
                    font-size: 30rpx;
                    color: #FE0000;
                }
            }
            .item.active:nth-last-child(1) {
                border-bottom: none;
            }
            .item.active:nth-last-child(2) {
                border-bottom: none;
            }
            .item.none:last-child {
                border-bottom: none;
            }
        }
    }
    .history {
        background: #fff;
        padding: 32rpx;
        .t {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30rpx;
            div:nth-child(2) {
                width: 55rpx;
                height: 55rpx;
                line-height: 55rpx;
            }
        }
        .cont {
            display: flex;
            flex-wrap: wrap;
            div {
                padding: 10rpx 10rpx;
                border: 1rpx solid #999;
                margin: 0 30rpx 20rpx 0;
                border-radius: 3rpx;
            }
            .active {
                border: 1rpx solid #FE0000;
                color: #FE0000;
            }
        }
    }
    .hotsearch {
        margin-top: 20rpx;
    }
}