.withdraw{


    .user-title{
        overflow: hidden;
        clear: both;
        height: 62rpx;
        line-height: 62rpx;
      padding: 12rpx 0;
      background: #fff;
    }
    .user-title .u-left{
      font-size: 30rpx;
      line-height: 1.6;
      position: relative;
      width: 280rpx;
      float: left;
      margin-left: 18rpx;
      font-weight: bold;
      padding-top: 8rpx;
      padding-bottom: 8rpx;
    }
    .user-title .u-left span{
      width: 6rpx;
      height: 10rrpx;
      border-radius: 6rpx;
      -webkit-border-radius: 6rpx;
      background: -moz-linear-gradient(top,#ff5d06 0,#fc3f78 100%);
      background: -webkit-gradient(linear,top top,top right,color-stop(0,#ff5d06),color-stop(100%,#fc3f78));
      background: -webkit-linear-gradient(top,#ff5d06 0,#fc3f78 100%);
      background: -o-linear-gradient(top,#ff5d06 0,#fc3f78 100%);
      background: -ms-linear-gradient(top,#ff5d06 0,#fc3f78 100%);
      background: linear-gradient(to top,#ff5d06 0,#fc3f78 100%);
      margin-right: 5rpx;
    }
    .user-title .u-right{
        float: left;
        text-align: right;
        color: #aaa;
        font-size: 28rpx;
        margin-right: 5%;
        span{
        color: #FC4D52;
        font-weight: bold;
        font-size: 30rpx;
        margin-right: 8rpx;
        }
        a{
          color: #aaa;  
      }
      .up{
        color: #aaa;
        margin-left: 10rpx;
        font-size: 24rpx;
        padding: 5rpx 10rpx;
        text-decoration-line: underline;
      }
    }
    .user-title .u-form{
      input{
        width: 240rpx;
        display: inline-block;
        border: 1rpx solid rgba(51, 51, 51, 0.11);
        border-radius: 10rpx;
        padding: 0 10rpx;
        text-align: left;
      }
      button{
        padding: 10rpx 20rpx;
        display: inline-block;
        margin-left: 30rpx;
      }
    }
    .amount{
      background:white;
      text-align:center;
      font-size:46rpx;
      color: #FC4D52;
      font-weight:600;
      padding-bottom: 20rpx;
    }
  
    .block{
      margin-top: 20rpx;
    }
  
    .step,.code{
      background: white;
      padding: 0 20rpx 20rpx 20rpx;
      p{
        padding: 8rpx 0rpx;
        span{
          font-weight: bold;
        }
        .num{
          color: #FC4D52;
          word-wrap:break-word;
        }
        .span-code{
          width: 450rpx;
          display: inline-block;
        }
      }
      .indent{
        text-indent:-100rpx;
        margin-left:100rpx;
        img{
            width: 70%;
            border: 2rpx solid #ccc;
            border-radius: 10rpx;
        }
      }
      .indent.right{
          text-align: right;
      }
      .center{
        text-align: center;
      }
      p.desc{
        color: #5e5e5e;
      }
    }
    .btn{
      text-align: center;
      margin-top: 40rpx;
    }
    .code-btn{
      color:white;
      background:#ff5d06;
      border:#ff5d06;
      padding: 20rpx 40rpx;
      line-height: 100%;
      font-size: 28rpx;
      max-width: 120rpx;
  }
  }